body{
    margin: 0px;
}

header{
    font-family: Arial, Helvetica, sans-serif, bold; 
    display: flex;
    top: 0;
    height: auto;
    width: 100%;
    background-color: #8E7DBE;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: #F4F8D3;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}

header div{
    margin-right: auto;
}

header div img{
    height: 70px;
    width: auto;
    
}

.brand{
    float: left;
    color: #F4F8D3;
    font-family: Arial, Helvetica, sans-serif,bold;
}

nav a{
    padding: 10px 25px;
    text-decoration: none;
    color: #F4F8D3;
    text-align: center;
    align-items: center;
    font-size: 18px;
    transition: baground-color 0.3s;
    font-weight: bolder;
}

nav a:hover{
    background-color: #53335f;
    border-radius: 5px;

}

nav a i{
    margin-left: auto;
    color:cadetblue;
    
}

nav a :first-child{
    background-color: #F4F8D3;
    border-radius: 5px;
}


section.home{
    height: 600px;
    background: url("baground.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    text-align: center;
    align-items: center;
}

section.about{
    background-color: #8E7DBE;
    height: 600px;
}

section.home div{
    text-align: center;
    text-align: center;
    align-items: center;
    color: #000;
    margin-top: auto;
    width: 70%;
    padding: 20px;
}

section.home .welcome{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif,bold;
}

section.home a{
    color: #0000;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif,bold;
    font-size: 30px;
}

.about {
    background:#333;
    height: 600px;
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.about div h2{
    color: #000;
}
.about div p {
    max-width: 600px;
    font-size: 18px;
    color: whitesmoke;
}

.product {
    background-image:"download.jpg";
    padding-top: 120px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    width: 80%;
    margin:  auto;
    padding: 0 50px;
}

.card {
    width: 100%;
    max-width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card .gambar img {
    width: 100%;
    max-width: 130px;
    border-radius: 8%;
    margin-bottom: 10px;
}

.card .nama {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.card .deskripsi {
    font-size: 0.9em;
    color: #666;
    min-height: 30px;
    margin-bottom: 8px;
}


.card .harga {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}

.card a{
    background-color: #c9a3436b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.card button:hover {
    background-color: #0056b3;
}

.contact {
    background: #f4f4f4;
    text-align: center;
    padding-top: 120px;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 18px;
}

footer {
    background: #53335f;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
color:#8E7DBE 
}

